a {
  text-decoration: none;
  color: black;
}

body {
  background: #111 !important;
}

/* Define a flex container for the cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
}

/* portfolio cards */
.card {
  background: #222;
  border: 1px solid #dd2476;
  color: rgba(250, 250, 250, 0.8);
  width: rem;
  margin: 1%;
  height: 60vh;
 min-width: 200px; /* Minimum width for a card */
}

/* portfolio card img */
.card img {
  padding: 5% 5% 0 5%;
  width: 100%;
  height: 50%;
}

/* portfolio card text */
.card-body {
  height: auto;
  min-height: 50%;
}

/* portfolio cards */
.btn {
  border: 5px solid;
  border-image-slice: 1 !important;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image-source:  var(--gradient);
  text-decoration: none;
  transition: all .4s ease;
}

/* portfolio cards */
.btn:hover, .btn:focus {
  background: var(--gradient);
  -webkit-background-clip: none;
  -webkit-text-fill-color: #fff;
  border: 5px solid #fff;
  box-shadow: #222 1px 0 10px;
  text-decoration: underline;
}